.body {
  background-color: #fafafa;
}

/*  N A V  */

ul.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  margin: 0;
  background-color: white;
  color: #4D1A78;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}

li.begin {
  position: relative;
}

ul.nav li {
  padding: 1rem 0;
  font-size: 1.1rem;
}

/*  H E A D E R  */

.header {
  background-color: #4D1A78;
  /* background-image: ; */
  /* background-repeat: repeat; */
  color: #fff;
  min-height: 400px;
  padding: 100px 20px;
  padding-bottom: 100px;
  text-align: center
}

.header h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 4rem
}
.header-content {
  padding-top: 50px;
  font-size: 1.2rem;
  margin: 0 20px;
}

/*  M A I N  */

.container {
  display: -ms-flexbox;
  display: flex;
  min-height: 80%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto
}

.frog-div {
  height: 170px !important;
  width: 170px;
  position: relative;
  margin: 10px;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
  cursor: pointer;
}
.frog-div:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s
}

.frog{
  max-height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

/*  F O O T E R  */

p.footer {
  margin: 0;
  display: inline-block;
  padding: 10px;
  color: #4D1A78;
  font-weight: 600;
}

img.footer {
  display: inline-block;
  position: relative;
  top: 7px;
  width: 24px;
  height: 24px;
}

/*  M E D I A  F R A M E S  */


